body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  /* background-color: snow; */
  /* max-width: 1000px; */
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

img {
  max-height: 400px;
}

blockquote {
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  /* border: solid 2px dimgray; */
  font-style: italic;
  color: #333333;
  background-color: whitesmoke;
}

table {
  border-collapse: collapse;
}

table th, table td {
  border: solid 1px black;
  padding: 3px 10px;
}

a#blog-title {
  color: coral;
}

.page-list-date {
  color: darkgrey;
}

pre {
  white-space: pre-wrap;
}